.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.App .dropdowns, .App .items-list  {
    flex-grow: 1;
    height: 100%;
}

.App .dropdowns, .App .items-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.App .dropdowns > *, .App .items-list > * {
    align-self: center;
}
