.list {
    margin: 10px
}

.list .item {
    width: 213px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list .item .edit {
    color: black;
    padding: 0 2px;
}

.list .item .delete {
    color: black;
    padding: 0 2px;
}